{% extends "fab_food/base.html" %}

{% block title %} Password Reset {% endblock title %}

{% block content %}
<div class="mid-section">
    <div class="container">
        <div class="row">
            <div class="innercommon">
                <div class="headingin text-center">Password Reset Form</div>
            </div>
        </div>
        <div class="mainboxpad">
            <div class="col-md-12">
                <div class="login-main ">
                    <div class="commongbgpad">
                        <div class="login-inner">
                            <div class="row">
                                <div class="col-md-12">
                            <p>
                                We've emailed you instructions for setting your password, if an account exists with the
                                email you entered.
                                You should receive them shortly.
                            </p>
                            <p>
                                If you don't receive an email, please make sure you've entered the address you
                                registered with,
                                and check your spam folder.
                            </p></div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                        <center>
                                            <a href="{% url 'login:login' %}" class="btn btn-primary">OK</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}