{% extends "fab_food/base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<div class="mid-section">
    <div class="container">
        <div class="row">
            <div class="innercommon">
                <div class="headingin text-center">Forgot Password</div>
            </div>
        </div>
        <div class="mainboxpad">
            <div class="col-md-12">
                <div class="login-main ">
                    <div class="commongbgpad">
                        <div class="login-inner">
                            {% if error_message %}
                            <div class="alert alert-danger fade in">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Error!</strong> {{ error_message }}
                            </div>
                            {% endif %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success fade in">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <form id="passwordResetForm" method="post">
                                {% csrf_token %}
                               <div class="row">
                                   <div class="col-md-12">
                                        <div class="form-group">
                                            {% if form.email.errors %}
                                                <div class="alert alert-danger fade in">
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    {% for error in form.email.errors %}{{ error }}{% endfor %}
                                                </div>
                                            {% endif %}
                                            <label for="id_email">Email address</label>
                                            <input id="id_email" class="form-control" maxlength="254"
                                                   name="email" type="email" />
                                        </div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left loginw">
                                            <button type="submit" class="btn btn-primary login-btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

