{% extends "fab_food/base.html" %}
{% load cms_tags static %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="mid-section">
    <div class="container">
        <div class="row">
            <div class="innercommon">
                <div class="headingin text-center">Change Password</div>
            </div>
        </div>
        <div class="mainboxpad">
            <div class="col-md-12">
                <div class="login-main ">
                    <div class="commongbgpad">
                        <div class="login-inner">
                            {% if form.errors %}
                                <div class="alert alert-danger fade in">
                                     <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <strong>Please correct the error{{ form.errors|pluralize }} below.</strong>
                                </div>
                            {% endif %}
                            <form id="changePasswordForm" method="post">
                                {% csrf_token %}
                                <div class="row">
                                   <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_old_password">Old Password</label>
                                            <input id="id_old_password" class="form-control" required
                                                   name="old_password" type="password" />
                                            {% if form.old_password.errors %}
                                                <div class="alert alert-danger fade in">
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    {% for error in form.old_password.errors %}{{ error }}{% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_new_password1">New Password</label>
                                            <input id="id_new_password1" class="form-control" required
                                                   name="new_password1" type="password" />
                                            {% if form.new_password1.errors %}
                                                <div class="alert alert-danger fade in">
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_new_password2">Confirm New Password</label>
                                            <input id="id_new_password2" class="form-control" required
                                                   name="new_password2" type="password" />
                                            {% if form.new_password2.errors %}
                                                <div class="alert alert-danger fade in">
                                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                                    {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <button type="submit" class="btn btn-primary login-btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

