{% extends 'fab_food/fab_base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Forget Username</h3>
                </div>
                <div class="panel-body">
                {% if error_message %}
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong> {{ error_message }}
                    </div>
                    {% endif %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>{{ message }} &nbsp; <b><a href="{% url 'login:login' %}">Sign in</a></b></strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form id="UsernameResetForm" method="post">
                        {% csrf_token %}
                       <div class="row">
                           <div class="col-md-12">
                                <div class="form-group">
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger fade in">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            {% for error in form.email.errors %}{{ error }}{% endfor %}
                                        </div>
                                    {% endif %}
                                    <label for="id_email">Email address</label>
                                    <input id="id_email" class="form-control" maxlength="254"
                                           name="email" type="email" value="{{ form.email.value | default:'' }}" />
                                </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                     <button type="submit" class="btn btn-lg btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
